<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SplitTileMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SplitTileMap.Properties.Settings>
            <setting name="TilePath" serializeAs="String">
                <value>.\..\..\..\Tiles</value>
            </setting>
            <setting name="PoliticalMap" serializeAs="String">
                <value>.\..\..\..\Map2.png</value>
            </setting>
        </SplitTileMap.Properties.Settings>
    </userSettings>
</configuration>